-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mgi_landing
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_logs`
--

DROP TABLE IF EXISTS `admin_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `target_type` varchar(50) NOT NULL,
  `target_id` varchar(100) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_admin_log_user` (`admin_id`),
  CONSTRAINT `fk_admin_log_user` FOREIGN KEY (`admin_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_logs`
--

LOCK TABLES `admin_logs` WRITE;
/*!40000 ALTER TABLE `admin_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(150) NOT NULL DEFAULT 'Super Administrator',
  `role` enum('superadmin','admin','editor') NOT NULL DEFAULT 'admin',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `mfa_secret` varchar(64) DEFAULT NULL,
  `mfa_enabled` tinyint(1) NOT NULL DEFAULT 0,
  `last_login` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
INSERT INTO `admin_users` VALUES (1,'superadmin','superadmin@montanaglobalinvestama.com','$2y$10$kHcz.9vSrR..7hNHVXX0c.n2nEGVZUuCPFV/Ajbyo01VQ..J7f2G2','Super Administrator MGI','superadmin',1,NULL,0,NULL,'2026-09-24 09:53:48','2026-09-24 09:53:48'),(2,'admin','admin@montanaglobalinvestama.com','$2y$10$PSVl6D0UA5K8NW8o503Kh.Quf0BJWXYOfD7TvuUvKj08EUTGFPKeG','Administrator Operasional MGI','admin',1,NULL,0,NULL,'2026-09-24 09:53:48','2026-09-24 09:53:48');
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campaign_updates`
--

DROP TABLE IF EXISTS `campaign_updates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campaign_updates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` varchar(50) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL DEFAULT 'Operasional Lapangan',
  `update_date` date NOT NULL,
  `content` text NOT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_campaign_project` (`project_id`),
  CONSTRAINT `fk_campaign_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaign_updates`
--

LOCK TABLES `campaign_updates` WRITE;
/*!40000 ALTER TABLE `campaign_updates` DISABLE KEYS */;
/*!40000 ALTER TABLE `campaign_updates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `icon` varchar(50) NOT NULL DEFAULT 'bi-geo-alt-fill',
  `description` varchar(255) DEFAULT NULL,
  `is_active_segment` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_profile`
--

DROP TABLE IF EXISTS `company_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_profile` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` longtext NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_profile`
--

LOCK TABLES `company_profile` WRITE;
/*!40000 ALTER TABLE `company_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ekosistem_nodes`
--

DROP TABLE IF EXISTS `ekosistem_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ekosistem_nodes` (
  `id` varchar(50) NOT NULL,
  `label` varchar(255) NOT NULL,
  `short_label` varchar(150) DEFAULT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `parent_id` varchar(50) DEFAULT NULL,
  `level` int(11) NOT NULL DEFAULT 0,
  `badge` varchar(100) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `category` varchar(150) DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `role_desc` text DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_ekosistem_parent` (`parent_id`),
  CONSTRAINT `fk_ekosistem_parent` FOREIGN KEY (`parent_id`) REFERENCES `ekosistem_nodes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ekosistem_nodes`
--

LOCK TABLES `ekosistem_nodes` WRITE;
/*!40000 ALTER TABLE `ekosistem_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ekosistem_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funding_items`
--

DROP TABLE IF EXISTS `funding_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `funding_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` varchar(50) NOT NULL,
  `no_urut` int(11) NOT NULL DEFAULT 1,
  `item_name` varchar(255) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `unit_price` bigint(20) NOT NULL DEFAULT 0,
  `total` bigint(20) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_funding_item_project` (`project_id`),
  CONSTRAINT `fk_funding_item_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funding_items`
--

LOCK TABLES `funding_items` WRITE;
/*!40000 ALTER TABLE `funding_items` DISABLE KEYS */;
INSERT INTO `funding_items` VALUES (34,'proj-jkt-jabar',1,'Excavator Komatsu PC200-8 CBU Jepang Grade A',3,1650000000,4950000000,'2026-09-24 09:53:48'),(35,'proj-jkt-jabar',2,'Excavator Komatsu PC138US-8 Compact Tail',3,950000000,2850000000,'2026-09-24 09:53:48'),(36,'proj-jkt-jabar',3,'Dukungan Armada Montana Towing & Workshop Overhaul',1,1200000000,1200000000,'2026-09-24 09:53:48'),(37,'proj-jkt-jabar',4,'Logistik Impor CBU & Cadangan Operasional Kas Project',1,1000000000,1000000000,'2026-09-24 09:53:48');
/*!40000 ALTER TABLE `funding_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investor_bank_accounts`
--

DROP TABLE IF EXISTS `investor_bank_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor_bank_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) NOT NULL,
  `bank_name` varchar(100) NOT NULL,
  `account_number` varchar(50) NOT NULL,
  `account_holder` varchar(255) NOT NULL,
  `branch` varchar(150) DEFAULT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_bank_investor` (`investor_id`),
  CONSTRAINT `fk_bank_investor` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor_bank_accounts`
--

LOCK TABLES `investor_bank_accounts` WRITE;
/*!40000 ALTER TABLE `investor_bank_accounts` DISABLE KEYS */;
INSERT INTO `investor_bank_accounts` VALUES (1,1,'Bank Central Asia (BCA)','8820394821','Budi Pratama','KCP Sudirman Jakarta',1,'2026-09-24 09:53:48','2026-09-24 09:53:48'),(2,2,'Bank Mandiri','1270009847281','PT Nusantara Capital Group','KC SCBD Equity Tower',1,'2026-09-24 09:53:48','2026-09-24 09:53:48');
/*!40000 ALTER TABLE `investor_bank_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investor_companies`
--

DROP TABLE IF EXISTS `investor_companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor_companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) NOT NULL,
  `business_name` varchar(255) NOT NULL,
  `legal_entity` enum('Perseroan Terbatas (PT)','Persekutuan Komanditer (CV)','PT Perorangan','Usaha Dagang (UD)','Tidak ada') NOT NULL,
  `company_address` text NOT NULL,
  `pic_name` varchar(255) NOT NULL,
  `pic_position` varchar(150) NOT NULL,
  `company_phone` varchar(50) NOT NULL,
  `annual_turnover` enum('Di bawah Rp500 Juta','Rp500 Juta ÔÇô Rp2,5 Miliar','Rp2,5 Miliar ÔÇô Rp10 Miliar','Rp10 Miliar ÔÇô Rp50 Miliar','Rp50 Miliar ÔÇô Rp250 Miliar','Di atas Rp250 Miliar') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_investor_company` (`investor_id`),
  CONSTRAINT `fk_investor_company` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor_companies`
--

LOCK TABLES `investor_companies` WRITE;
/*!40000 ALTER TABLE `investor_companies` DISABLE KEYS */;
INSERT INTO `investor_companies` VALUES (1,2,'PT Nusantara Capital Group','Perseroan Terbatas (PT)','Equity Tower Lt. 28, SCBD, Jakarta Selatan','Hendra Wijaya, S.E., M.B.A.','Managing Director','081198765432','Rp10 Miliar ÔÇô Rp50 Miliar','2026-09-16 07:48:46','2026-09-16 07:48:46');
/*!40000 ALTER TABLE `investor_companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investor_portfolios`
--

DROP TABLE IF EXISTS `investor_portfolios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor_portfolios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) NOT NULL,
  `project_id` varchar(50) NOT NULL,
  `contract_number` varchar(100) NOT NULL,
  `amount` bigint(20) NOT NULL DEFAULT 500000000,
  `return_rate` varchar(50) NOT NULL DEFAULT 'ÔëÑ30% (p.a.)',
  `tenor` varchar(50) NOT NULL DEFAULT '36 Bulan',
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `next_payout_date` date DEFAULT NULL,
  `payout_received` bigint(20) NOT NULL DEFAULT 0,
  `allocated_units` varchar(255) DEFAULT NULL,
  `status` enum('active','completed','pending_allocation') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `contract_number` (`contract_number`),
  KEY `fk_portfolio_investor` (`investor_id`),
  KEY `fk_portfolio_project` (`project_id`),
  CONSTRAINT `fk_portfolio_investor` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_portfolio_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor_portfolios`
--

LOCK TABLES `investor_portfolios` WRITE;
/*!40000 ALTER TABLE `investor_portfolios` DISABLE KEYS */;
INSERT INTO `investor_portfolios` VALUES (1,1,'proj-jkt-jabar','MGI/INV/2024/001-BP',500000000,'ÔëÑ32% (p.a.)','36 Bulan','2024-01-15','2027-01-15','2024-10-15',37500000,'1x Komatsu PC138US (Grade A)','active','2026-09-24 09:53:48','2026-09-24 09:53:48'),(2,2,'proj-jkt-jabar','MGI/CORP/2024/008-NCG',2500000000,'ÔëÑ32% (p.a.)','36 Bulan','2024-02-01','2027-02-01','2024-11-01',187500000,'2x Komatsu PC200-8 & 1x D6R Caterpillar','active','2026-09-24 09:53:48','2026-09-24 09:53:48');
/*!40000 ALTER TABLE `investor_portfolios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investors`
--

DROP TABLE IF EXISTS `investors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_type` enum('perorangan','perusahaan') NOT NULL DEFAULT 'perorangan',
  `email` varchar(191) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `citizenship` enum('Indonesia (WNI)','Warga Negara Asing (WNA)') DEFAULT 'Indonesia (WNI)',
  `phone` varchar(50) DEFAULT NULL,
  `status` enum('active','pending_verification','suspended') NOT NULL DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investors`
--

LOCK TABLES `investors` WRITE;
/*!40000 ALTER TABLE `investors` DISABLE KEYS */;
/*!40000 ALTER TABLE `investors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preparation_entities`
--

DROP TABLE IF EXISTS `preparation_entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preparation_entities` (
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `slogan` varchar(255) DEFAULT NULL,
  `role` varchar(255) NOT NULL,
  `level` varchar(100) NOT NULL,
  `badge` varchar(100) NOT NULL,
  `color` varchar(50) NOT NULL DEFAULT 'gold',
  `description` text NOT NULL,
  `focus` text NOT NULL,
  `output` text NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preparation_entities`
--

LOCK TABLES `preparation_entities` WRITE;
/*!40000 ALTER TABLE `preparation_entities` DISABLE KEYS */;
/*!40000 ALTER TABLE `preparation_entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preparation_workflow`
--

DROP TABLE IF EXISTS `preparation_workflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preparation_workflow` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `step_number` int(11) NOT NULL DEFAULT 1,
  `title` varchar(255) NOT NULL,
  `actor` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `badge` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preparation_workflow`
--

LOCK TABLES `preparation_workflow` WRITE;
/*!40000 ALTER TABLE `preparation_workflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `preparation_workflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_details`
--

DROP TABLE IF EXISTS `project_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` varchar(50) NOT NULL,
  `tagline` varchar(255) DEFAULT NULL,
  `what_will_provide_title` varchar(255) NOT NULL DEFAULT 'Alokasi Penggunaan Modal (Use of Funds & Asset Acquisition)',
  `what_will_provide_content` text NOT NULL,
  `sinergi_title` varchar(255) NOT NULL DEFAULT 'Struktur Kemitraan Strategis & Jaminan Penyerapan Pasar (Offtake Framework)',
  `sinergi_content` text NOT NULL,
  `summary_title` varchar(255) NOT NULL DEFAULT 'Ringkasan Kelayakan Investasi & Profil Risiko (Feasibility Summary)',
  `summary_content` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_project_detail` (`project_id`),
  CONSTRAINT `fk_project_detail` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_details`
--

LOCK TABLES `project_details` WRITE;
/*!40000 ALTER TABLE `project_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_simulation`
--

DROP TABLE IF EXISTS `project_simulation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_simulation` (
  `project_id` varchar(50) NOT NULL,
  `tenor_bulan` int(11) NOT NULL DEFAULT 36,
  `estimasi_return_persen` decimal(5,2) NOT NULL DEFAULT 30.00,
  `modal_kerja_bulanan_persen` decimal(5,2) NOT NULL DEFAULT 2.20,
  `minimum_investasi` bigint(20) NOT NULL DEFAULT 500000000,
  `maximum_investasi` bigint(20) NOT NULL DEFAULT 500000000000,
  `default_investasi` bigint(20) NOT NULL DEFAULT 500000000,
  `notes` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`project_id`),
  CONSTRAINT `fk_simulation_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_simulation`
--

LOCK TABLES `project_simulation` WRITE;
/*!40000 ALTER TABLE `project_simulation` DISABLE KEYS */;
INSERT INTO `project_simulation` VALUES ('proj-jkt-jabar',36,32.00,2.40,500000000,500000000000,500000000,'','2026-09-24 09:53:48');
/*!40000 ALTER TABLE `project_simulation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` varchar(50) NOT NULL,
  `city_id` int(11) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(150) NOT NULL DEFAULT 'Alat Berat & Infrastruktur',
  `image` varchar(255) NOT NULL DEFAULT 'assets/img/komatsu.jpg',
  `funding_collected` bigint(20) NOT NULL DEFAULT 0,
  `funding_target` bigint(20) NOT NULL,
  `currency` varchar(10) NOT NULL DEFAULT 'IDR',
  `status` enum('Open','Fully Funded','Closed','Coming Soon') NOT NULL DEFAULT 'Open',
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `lokasi` varchar(255) NOT NULL,
  `target_display` varchar(255) DEFAULT NULL,
  `tenor` varchar(100) NOT NULL,
  `return_rate` varchar(100) NOT NULL,
  `risk_level` varchar(100) NOT NULL,
  `min_investment` varchar(100) NOT NULL DEFAULT 'Rp 500.000.000',
  `payout` varchar(100) NOT NULL DEFAULT 'Bagi Hasil Kompetitif',
  `remaining_days` varchar(100) NOT NULL DEFAULT '18 Hari Tersisa',
  `asset_backed` varchar(255) NOT NULL DEFAULT 'Unit CBU Grade A & BPKB',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
INSERT INTO `projects` VALUES ('proj-jkt-jabar',NULL,'Jabodetabek & Jawa Barat','Ekspansi Pool & Alat Berat Regional Jabodetabek dan Jawa Barat','Proyek Ekspansi Pool & Alat Berat Komatsu','assets/img/project-jabodetabek.jpg',7500000000,10000000000,'IDR','',1,'DKI Jakarta & Jawa Barat','Rp 10.000.000.000','36 Bulan','ÔëÑ32% (p.a.)','','Rp 500.000.000','Bagi Hasil Kompetitif','18 Hari Tersisa','Aset Fisik Komatsu CBU Grade A',1,'2026-09-23 10:01:02','2026-09-24 09:43:46');
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transformasi_steps`
--

DROP TABLE IF EXISTS `transformasi_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transformasi_steps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `step_order` int(11) NOT NULL DEFAULT 1,
  `year_or_phase` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text NOT NULL,
  `highlights` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`highlights`)),
  `status` varchar(50) NOT NULL DEFAULT 'completed',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transformasi_steps`
--

LOCK TABLES `transformasi_steps` WRITE;
/*!40000 ALTER TABLE `transformasi_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `transformasi_steps` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-24 16:53:53
